:root{
    --text-color: #f3f4f4;
    --bg-color: #061e29;
    --bg2-color: #6b9da0;
    --main-color: #5f9598;
    --bg1-color:whitesmoke;
    --text-color1: #555;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*color: var(--text-color);*/
    text-decoration: none;
    font-family:Georgia, Times, 'Times New Roman', serif;
}

html{
    font-size: 62.5%;
}
h1{
    font-size: 4rem;
    font-weight: 800;
    color:var(--main-color);
}
h2{
    font-size: 2.2rem;
    font-weight: 700;
    color:var(--text-color1);
}
h3 {
    font-size:2rem;
    font-weight: 500;
    color:var(--text-color)
}
p{
     font-size:2rem;
    font-weight: 500;
    color:var(--text-color1) 
}
span{
    color: var(--main-color);
}
.header{
    padding: 1rem 9% 0.8rem 5%;
    background-color: var(--bg1-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    box-shadow:0rem 0rem 0.6rem var(--main-color);
}

.header .logo{
    font-size: 3rem;
    font-weight: 800;
    color: var(--main-color);
}

#menu-icon{
    display: none;
}

.header .navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
}

.header .navbar a{
    font-size: 1.7rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    color: var(--text-color1);
    padding: 1.5rem 0.5rem;
}

.header .navbar a:hover{
    color: var(--text-color);
    background-color:var(--main-color);
    border-radius: 0.6rem;
}
section{
 width:100%;
 min-height:100vh;
 display: flex;
 justify-content: center;
 background: var(--bg1-color);

}
.home-contanier{
   width: 90%;
    height:100%;
    margin-top:5rem;
}

.slider-container{
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 3rem;
}

.slider-wrapper .slider-item{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-wrapper .slider-item::after{
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/Umayyad_Square\,_Damascus.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(0.2rem);
}

.slider-wrapper .slider-item:nth-child(2)::after{
    background-image: url(../images/Umayyad_Mosque_night.jpg);
}

.slider-wrapper .slider-item:nth-child(3)::after{
    background-image: url(../images/img-3.jpeg);
}

.slider-wrapper .slider-item:nth-child(4)::after{
    background-image: url(../images/img-4.jpeg);
}

.slider-wrapper .slider-item .slider-content{
    position: relative;
    max-width: 40rem; 
    padding: 0rem 2% 2rem;
    z-index: 99;
    text-align: center;
    margin-bottom: 6rem;
    background:rgba(255,255,255, 0.2);
    backdrop-filter:blur(0.2rem);
    border-radius:8rem 4rem;
    
}

.slider-item .slider-content .slide-subtitle{
    font-size: 1.5rem;
    font-weight: 400;
}

.slider-item .slider-content .slide-title{
    font-size: 4rem;
    font-weight: 700;
    margin-top: 5rem;
    color: var(--text-color1);
    text-transform: uppercase;/*حرف كبير*/
}

.slider-item .slider-content .slide-desc{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2.5rem;
    line-height: 2.5rem;
    color:var(--text-color);
}

.slider-item .slider-content .slide-btn{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
    padding: 1.3rem 0;
    width: 10rem;
    border: 0.2rem solid;
    border-radius: 0.8rem;

}

.slider-container .slider-controls{
    position: absolute;
    bottom: 7rem; 
    z-index: 99;
    left: 50%;/*مع وضع absolute نحدد الموضع حسب يسار ويمين */
    transform: translateX(-50%);
}

.slider-controls .slider-pagination{
    display: flex;/*لكي تظهر القائمة أفقية لاتها افتراضيا شاقولية*/
    list-style: none;
    padding: 0 2rem;
    gap: 4rem;
    
    
}

.slider-pagination .slider-tab{
    /*color: var(--text-color);
    font-size: 2rem;*/
    cursor: pointer;
    /*text-align: center;*/
    padding: 1rem;
    border: 0.1rem solid var(--text-color);
    border-radius: 1rem;
   background: rgba(255,255,255, 0.2);
   /* background-color: var(--main-color);*/
    backdrop-filter: blur(0.4rem);
    /*color: var(--main-color);*/
}

.slider-pagination .slider-tab:hover{
    background: var(--main-color);
    color:var(--text-color);
    border:none;
}
.slider-navigations button{
    position: absolute;
    top: 50%;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    color: var(--main-color);
    background-color: var(--text-color);
    z-index: 100;
}


.slider-navigations button#previous{
   left: 2rem;
}

.slider-navigations button#next{
    right: 2rem;
}

.slider-navigations button.swiper-button-disabled{
    display: none;
}

.btn-evenst{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin: 3rem;
}
.btn-evenst .badges {
    display: flex;
    justify-content: space-between;
   gap: 2rem;
}

footer{
      position: static;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
      padding: 2rem 4%;
      left: 0;
      bottom: 0;
      top:100%;
      width: 100%;
      background:var(--bg2-color);
      z-index: 100;
    }
.footer-contanir{
    display: flex;
    justify-content: center;
    align-items:center;
    direction: rtl;
    width: 100%;
}
.footer-social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.footer-social a{
     font-size: 2rem;
    color:var(--text-color);
    transition: 0.3s;
}
.footer .social-icons a{
    margin-left:1.2rem;
    scale: 1;
}

.footer-social a:hover{
    transform: scale(1.2);
    color: red;
}
.vertical {
    transform: rotate(90deg);
    width: 18rem;
}
.phone  {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 2rem;
    color:var(--text-color);
}
.end {
    color: var(--bg1-color);
    width: 50%;
}
.footer span {
    font-size:2rem; 
    font-weight: 800;
    color: var(--text-color);
}
/* about design*/


.events , .about , .contact{
   min-height: 100vh;
    width: 100%;
    margin-top:3rem;
    padding: 20px 10%;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    background:var(--bg1-color);
}


/* event detail style */
.events-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}
.events .events-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(25%,1fr));
    gap:1.5rem;
 }
.events-grid .event-box{
    display:inline-flex;
    flex-direction: column;
    border:0.2rem solid var(--main-color);
    border-radius: 0.6rem;
    padding: 1rem 1.5rem;
}

.events-grid .event-box img{
    height: 60%;
    margin-bottom: 4rem;
}


.event{
    min-height: 100vh;
    width: 100%;
    padding: 10rem 8%;
}

.event-container{
    display: none;

}

.event-container.active{
    display: block;
}

.event-container .event-box{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10rem;
}

.event-box .event-content img{
    border-radius: 1rem;
    width: 750px;
    height: 430px;
}

.event-box .event-content .event-title{
    margin-top: 2rem;
}

.event-box .event-content .event-description{
    margin-top: 5rem;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    background-color: #5f95981e;
}

.event-container .event-box .event-detail{

    padding: 2rem;
    border-radius: 1rem;
    background-color: #5f95981e;
}

.event-container .event-box .event-detail .spe{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.event-detail .spe i,
.event-detail .spe h3{
    font-size: 2.5rem;
    font-weight: 500;
    margin: 1rem 0;
    color: var(--text-color1);
}

.event-detail img{
    padding: 1rem;
}

.event-detail .event-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.event-detail .event-btns a{
    width: 100%;
    text-align: center;
}



 .about-container,.contact-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap:5rem ;
}
.about-container{
    flex-direction: column;
    direction: rtl;
    margin-top: 3rem;
}
.target-container{
    display: flex;
    gap: 4rem;
}
.target-container img{
    border-radius:2rem 3.5rem;
    box-shadow:0.2rem 0.6rem 0.8rem var(--main-color);
}
.targets ,.our-team ,.policies{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}
.team-container{
    display: flex;
    justify-content: space-between;
}
.team{
    text-align: center;
}
.team img{
    border:2px solid var(--main-color);
    border-radius: 50%;
}
.policies li {
    color: var(--text-color1);
    /* list-style: none; */
    font-size: 2rem;
}

.contact-container, .about-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:5rem ;
}

/* contact us design*/
.heading{
    font-size: 40px;
    margin-bottom:5rem;
    color:var(--text-color1);
    text-align:  center;
}
.contact-container .contact-social{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-container .contact-social a{
    color:var(--text-color1);
    font-size:2rem;
    display: flex;
    gap: 12px;
    position: relative;
    left: 0;
    transition: 0.3s;
}

.contact-container .contact-social a:hover{
    left: 20px;
}

.contact-container .contact-social a i{
    color: var(--bg1-color);
    padding: 5px;
    background-color:var(--main-color);
    border-radius: 6px;
}

form{
    width: 100%;
    text-align: center;
    direction: rtl;
}

.contact-form .input{
    position: relative;
}

.contact-form .input span{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-150%);
}

.contact-form input, .contact-form textarea{
    padding: 15px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    background:var(--bg1-color);
    color:var(--text-color1);
    margin-bottom: 4rem;
}
.contact-form span i{
    color: var(--bg2-color);
    font-size: 2rem;
}
.contact-form input ,textarea {
   width: 70%;
}

.form-control:focus{
    border: 2px solid none;
    box-shadow:0.5rem 0.5rem 0.8rem var(--main-color);
}

.btn{
    padding: 1rem 2rem;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    background-color:var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 10px;
}

.btn:hover a {
    background-color: transparent;
    color:var(--main-color);
    /* box-shadow:  0.2rem 0.2rem 0.8rem var(--main-color); */
}

.contact-form .input .error{
    position: absolute;
    top: calc(100% - 4rem);
    right: 20%;
    color: red;
    font-size: 2rem;
}

.btn:hover{
    background-color: transparent;
}


@media (max-width: 1200px){
    .slider-wrapper .slider-item .slider-content,
    .slider-wrapper .slider-item .slider-pagination{
        width: 85%;
        text-align: center;
    }

    section{
        padding: 2rem 5%;
    }




    
 

}

@media (max-width: 768px){
    #menu-icon{
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5%;
        color: var(--main-color);
    }

    html{
        font-size: 55%;
    }

    .header .navbar{
        height: 0;
        display: none;
        transition: 0.5s;

    }


    .header .navbar.active{
        display: block;
        text-align: center;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--bg1-color);
    }



    .header{
        padding: 1rem 5%;
        position: relative;
    }

    .home-contanier .badges .btn{
        padding: 0.8rem;
        font-size: 1.5rem;
    }

    .events .events-grid{
        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(100%,1fr));
        gap:1.8rem;
    }



    .footer-contanir{
        flex-direction: column;
    }

    .footer .vertical{
        display: none;
    }

    .event{
        padding: 7rem 5%;
    }

    .event-container .event-box{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        text-align: center;
    }

    .event-box .event-content img{
        border-radius: 1rem;
        width: 90%;
    }

     .about-container,.target-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .team-container{
        flex-direction: column;

    }

    .policies ul{
        text-align: right;
    }


    .contact-container{
        flex-direction: column;
        width: 90%;
    }
}